body {
  background: #ffffff;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.section {
  padding: 4%;
}
.section .section-title {
  padding-bottom: 40px;
}
.section .section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section .section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1977cc;
  margin: 4px 10px;
}
.section .section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

#header {
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo {
  margin: 0;
  padding: 0;
}
#header .logo a {
  text-decoration: none;
}
#header .nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header .nav-menu li {
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
#header .nav-menu a {
  display: block;
  position: relative;
  color: #555555;
  transition: 0.3s;
  font-size: 14px;
  padding: 5px 2px;
  border-bottom: 2px solid #fff;
}
#header .nav-menu .a:hover, #header .nav-menu .active > a, #header .nav-menu li:hover > a {
  color: #1977cc;
  text-decoration: none;
  border-color: #1977cc;
}

#forward {
  width: 100%;
  height: 80vh;
  background: url("/images/img.png") top center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 5%;
}
#forward .make-claim {
  margin: 1% 0;
  padding: 10px 25px;
}

.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.icon-box:hover {
  transform: scale(1.08);
}
.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.icon-box .title span {
  color: #1977cc;
}
.icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

form .form-group {
  padding-bottom: 8px;
}
form input, form select {
  height: 44px !important;
}
form .form-control {
  box-shadow: none;
  font-size: 15px;
  border-radius: 0.4rem;
}
form .form-control:focus, form .form-control:focus-within {
  border: 2px #2487ce solid;
  outline: none;
  box-shadow: none;
}
form textarea {
  resize: none;
}
form button[type=submit], form input[type=submit],
form .util-btn {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0.25rem;
}
form button[type=submit]:hover, form input[type=submit]:hover,
form .util-btn:hover {
  background: #2f365f;
}

.rounded-button {
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.rounded-button:hover {
  background: #166ab5;
  color: #fff;
  text-decoration: none;
}

#contact i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  background: #e3f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
#contact h4 {
  padding: 0 0 0 60px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}
#contact .address p, #contact .email p, #contact .phone p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}
#contact .address:hover i, #contact .email:hover i, #contact .phone:hover i {
  background: #1977cc;
  color: #fff;
}

#footer {
  background: #f1f7fd;
}
