/* The side navigation menu */
.hidden-nav {
  background-color: #2f365f;
  position: fixed;
  display: block;
  top: 0 !important;
  bottom: 0;
  left: 0;
  z-index: 990;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  overflow: auto;
}
.hidden-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}
.hidden-nav .closebtn:hover, .hidden-nav .closebtn:active {
  text-decoration: none;
}
.hidden-nav .navbar-nav {
  width: 100%;
}
.hidden-nav .navbar-nav .nav-link:visited, .hidden-nav .navbar-nav .nav-link:link {
  color: #71789e;
  background: transparent;
}
.hidden-nav .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #242849;
  border-radius: 2px;
}
.hidden-nav .navbar-nav .nav-link:focus, .hidden-nav .navbar-nav .nav-link:active {
  background-color: #242849;
  color: #fff;
  border-radius: 2px;
}
.hidden-nav .nav-link {
  font-size: 20px;
  padding: 12px 10px;
  color: #71789e;
  transition: 0.3s;
  font-weight: 600;
}
.hidden-nav .o-text-center {
  text-align: center !important;
}

/* Inside navigation settings */
.inside-hidden-nav {
  background-color: #2f365f;
  max-width: 0;
  left: 0;
  top: 0;
  padding: 0;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  height: 100%;
  z-index: 9999 !important;
  bottom: 0;
  position: fixed;
}
.inside-hidden-nav .inside-hidden-sidebar .navbar-nav .nav-link {
  font-size: 18px;
  padding: 12px 10px 12px 25px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.inside-hidden-nav .inside-hidden-sidebar .navbar-nav .nav-link:visited, .inside-hidden-nav .inside-hidden-sidebar .navbar-nav .nav-link:link {
  color: #b2b7ff;
  background: transparent;
}
.inside-hidden-nav .inside-hidden-sidebar .navbar-nav .nav-link:hover {
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hidden-nav {
    max-width: 0;
    top: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1035;
    right: 0;
    display: block;
  }

  .fixed-top .nav-menu, .fixed-top .rounded-button {
    display: none;
  }

  .phone, .email, .footer {
    margin-top: 10% !important;
  }

  #forward {
    text-align: center;
  }
  #forward h1 {
    font-size: 2rem;
  }
  #forward h2 {
    font-size: 1.3rem;
  }

  .section-title p {
    font-size: 25px !important;
  }

  #contact h4 {
    font-size: 18px;
  }
  #contact i {
    width: 35px;
    height: 35px;
  }

  .rounded-button {
    margin: 0;
  }

  .gateway-inner {
    margin: 10%;
  }

  .check-container {
    text-align: center;
  }

  .user-opts-a, .sidebar {
    display: none !important;
  }

  .inside-hidden-nav, .user-opts-b,
.mobile-header {
    display: block !important;
  }
  .inside-hidden-nav .navbar-toggler, .user-opts-b .navbar-toggler,
.mobile-header .navbar-toggler {
    display: block !important;
  }

  .mobile-header .navbar-brand, .mobile-header a {
    text-decoration: none;
    padding: 0;
    background: transparent;
  }
  .mobile-header .navbar-brand img, .mobile-header a img {
    width: 38%;
    height: auto;
  }

  .top-nav {
    padding: 10px;
  }
  .top-nav .container-sm {
    flex-wrap: nowrap;
  }

  .content {
    margin-left: 0;
  }
  .content .container {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .content .w-65 {
    margin-bottom: 10% !important;
  }
  .content .page-header {
    margin-bottom: 5%;
    font-size: 2rem;
  }
  .content .util-btn {
    margin-bottom: 5% !important;
  }

  .w-65, .w-30 {
    width: 100% !important;
    clear: both;
  }

  .card-sub-o-mt {
    margin-top: 15%;
  }

  .card-sub-mt {
    margin-top: 5%;
  }

  #header .logo {
    padding-left: 15px;
  }
  #header .logo img {
    width: 35%;
    height: auto;
  }

  .mt-xs {
    margin-top: 3rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar-toggle-icon {
    width: 1.2rem;
    height: 1.25rem;
  }

  .hidden-nav {
    max-width: 0;
    top: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1035;
    right: 80%;
    left: 0;
  }

  .fixed-top .nav-menu, .fixed-top .rounded-button {
    display: none;
  }

  .phone, .email, .footer {
    margin-top: 10% !important;
  }

  #forward {
    text-align: center;
  }
  #forward h1 {
    font-size: 2rem;
  }
  #forward h2 {
    font-size: 1.3rem;
  }

  .section-title p {
    font-size: 25px !important;
  }

  #contact h4 {
    font-size: 18px;
  }
  #contact i {
    width: 35px;
    height: 35px;
  }

  .rounded-button {
    margin: 0;
  }

  .check-container {
    text-align: center;
  }

  .user-opts-a, .sidebar {
    display: none !important;
  }

  .inside-hidden-nav, .user-opts-b,
.mobile-header {
    display: block !important;
  }
  .inside-hidden-nav .navbar-toggler, .user-opts-b .navbar-toggler,
.mobile-header .navbar-toggler {
    display: block !important;
  }

  .mobile-header .navbar-brand, .mobile-header a {
    text-decoration: none;
    padding: 0;
    background: transparent;
  }
  .mobile-header .navbar-brand img, .mobile-header a img {
    width: 25%;
    height: auto;
  }

  .content {
    margin-left: 0;
  }
  .content .container {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .content .page-header {
    margin-bottom: 5%;
  }

  .w-65, .w-30 {
    width: 100% !important;
    clear: both;
  }

  .card-sub-o-mt {
    margin-top: 15%;
  }

  .card-sub-mt {
    margin-top: 5%;
  }

  #header .logo img {
    width: 25%;
    height: auto;
  }

  .justify-content-center .gateway-inner {
    padding: 0;
  }

  .mt-xs {
    margin-top: 0 !important;
  }

  .mt-sm {
    margin-top: 5% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #forward {
    text-align: left;
  }

  .gateway-inner {
    margin: 5% 0;
  }

  .check-container {
    text-align: left;
  }

  .user-opts-a {
    display: none !important;
  }

  .inside-hidden-nav, .user-opts-b,
.mobile-header {
    display: block !important;
  }
  .inside-hidden-nav .navbar-toggler, .user-opts-b .navbar-toggler,
.mobile-header .navbar-toggler {
    display: block !important;
  }

  .mobile-header .navbar-brand, .mobile-header a {
    text-decoration: none;
    padding: 0;
    background: transparent;
  }
  .mobile-header .navbar-brand img, .mobile-header a img {
    width: 20%;
    height: auto;
  }

  .content {
    margin-left: 0;
  }
  .content .container {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .content .page-header {
    margin-bottom: 5%;
  }

  .w-65, .w-30 {
    width: 100% !important;
    clear: both;
  }

  .card-sub-o-mt, .card-sub-mt {
    margin-top: 0;
  }

  #header .logo img {
    width: 20%;
    height: auto;
  }

  .justify-content-center .gateway-inner {
    padding: 0;
  }

  .dash-lane .dash {
    max-width: 48% !important;
  }
  .dash-lane .dash:first-child, .dash-lane .dash:nth-child(3) {
    margin-left: 0;
    margin-right: 10px;
  }
  .dash-lane .dash:nth-child(2), .dash-lane .dash:last-child {
    margin-left: 10px;
    margin-right: 0;
  }

  .mt-xs, .mt-sm {
    margin-top: 0 !important;
  }

  .mt-md {
    margin-top: 5% !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hidden-nav, #sidebar-toggle,
.inside-hidden-nav, .user-opts-b,
.navbar-toggler, .mobile-header {
    display: none !important;
  }

  .section-title p {
    font-size: 36px !important;
  }

  .sidebar, .user-opts-a {
    display: block !important;
  }

  .fixed-top .nav-menu, .fixed-top .rounded-button {
    display: block;
  }

  .rounded-button {
    margin-left: 25px;
  }

  #contact h4 {
    font-size: 22px;
  }
  #contact i {
    width: 44px;
    height: 44px;
  }

  #forward h1 {
    font-size: 2.25rem;
  }
  #forward h2 {
    font-size: 1.8rem;
  }

  .check-container {
    text-align: left;
  }

  .content {
    margin-left: 18%;
  }

  .w-65 {
    width: 65% !important;
  }

  .w-30 {
    width: 30% !important;
  }

  .container-fluid {
    max-width: 100%;
  }

  .card-sub-o-mt, .card-sub-mt {
    margin-top: 0;
  }

  #header .logo img {
    width: 155%;
    height: auto;
  }

  .justify-content-center .gateway-inner {
    padding: 0;
  }

  .dash-lane .dash {
    max-width: 23% !important;
  }
  .dash-lane .dash:first-child {
    margin-left: 0;
    margin-right: 10px;
  }
  .dash-lane .dash:nth-child(2), .dash-lane .dash:nth-child(3) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .dash-lane .dash:last-child {
    margin-left: 10px;
    margin-right: 0;
  }

  .mt-xs {
    margin-top: 0 !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
