form {
    .form-group {
        padding-bottom: 8px;
    }

    input, select {
        height: 44px !important;
    }

    textarea {
        resize: none;
    }

    button[type="submit"], input[type="submit"],
    .util-btn {
        background: #1977cc;
        border: 0;
        padding: 10px 35px;
        color: $white;
        transition: 0.4s;
        border-radius: 0.25rem;

        &:hover {
            background: #2f365f;
        }
    }
}

.form-control {
    box-shadow: none;
    font-size: 15px;
    border-radius: 0.4rem;
}

.form-control:focus, .form-control:focus-within {
    border: 2px #2487ce solid;
    outline: none;
    box-shadow: none;
}
