//The Entire Header Without Make Claim Button
#header {
    padding: 15px 0;
    background: $white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);

    .logo {
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
        }
    }

    .nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            white-space: nowrap;
            padding: 8px 0 8px 20px;
        }

        a {
            display: block;
            position: relative;
            color: #555555;
            transition: 0.3s;
            font-size: 14px;
            padding: 5px 2px;
            border-bottom: 2px solid $white;
        }

        .a:hover, & .active > a, & li:hover > a {
            color: $blue;
            text-decoration: none;
            border-color: $blue;
        }
    }
}

